*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;

}

.header{
   
    display: flex;
    align-items: center;
}

.header h1{
    color: red;
    font-family: Arial;
    font-size: 40px;

}

.header nav{
    margin:30px;
}

.header nav a{
    color: #C0C0C0;
    text-decoration: none;
    margin: 5px;
}   

.header nav a:hover{
    color: #ffffff;
    font-size: 17px;
    margin: 5px;
}

@media(max-width: 450px) {
    #box {
        display: none;
    }
}

.perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
}
.perfil img{
    height: 40px;
    border-radius: 50%;
}

.perfil a{
    color: #C0C0C0;
}


main .container{
    background-image: linear-gradient(rgba(0,0,0,.70), rgba(0,0,0,.90)100%),url(/images/medoclassico.png);
    background-size: cover;
    color: #ffffff;
    display: flex;
    align-items: center;
    text-align: justify;
    height: 400px;
}

main  h2{

    font-size: 40px;
}

main h3{
    font-size: 30px;
}

main p{
    width: 70%; 
    min-width: 200px;
}
main button{
    width: 200px;
    height: 30px;
    border-radius: 12px;
    border: solid 1px; 
    background-color: rgba(0,0,0,.70);
    color: rgba(240,230,140);
    margin: 1px;
}

main button:hover{
    background-color: rgba(240,230,140,.70);
    color: #1c1c1c;
}

.carrouselimg{
    height: 300px;
    width: 200px;
    max-width: 200px;
    display: block;
}

.livros {
    margin-left: 7%;
    margin-right: 7%;
}

.livros h3{
    font-size: 30px;
    color:#FFFACD;
    margin-bottom: 20px;
    margin-top: 20px;
}


.owl-dots {
    display: none;
}

.owl-nav button{
    color: #ffffff !important;
    border: solid 1px !important;
    border-color: #363636 !important;
    width: 100px !important;
}

footer {
    margin: 30px;
    margin-bottom: 10px;
    color: #C0C0C0;
    text-align: center;
}

.linkimg{
    border-radius: 50%;
    width: 40px;
    margin:20px;
    margin-bottom: 0;
}  

.linkimg:hover{
    border-radius: 40%;
}


