*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    display: flex;
    justify-content: space-between;
}

.header{
   
    display: flex;
    align-items: center;
}

.header h1{
    color: red;
    font-family: Arial;
    font-size: 40px;
    margin:20px 60px 20px 20px;
}

.header nav{
    margin:30px;
}

.header nav a{
    color: #C0C0C0;
    text-decoration: none;
    margin: 5px;
}   

.header nav a:hover{
    color: #ffffff;
    font-size: 16px;
    margin: 5px;
}

@media(max-width: 450px) {
    #box {
        display: none;
    }
}

.perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
}
.perfil img{
    height: 40px;
    border-radius: 50%;
}

.perfil a{
    color: #C0C0C0;
}

@media(max-width: 370px) {
    #box2 {
        display: none;
    }
}

main .container{
    background-image: linear-gradient(rgba(0,0,0,.70), rgba(0,0,0,.90)100%),url(/images/medoclassico.png);
    background-size: cover;
    color: #C0C0C0;
    display: flex;
    align-items: center;
    text-align: justify;
    height: 600px;
}

main .book{
    margin: 60px;
    
}
main  h2{
    font-size: 50px;
}

main h3{
    font-size: 30px;
}

main p{
    width: 70%; 
}
main button{
    width: 200px;
    height: 30px;
    background-color: #C0C0C0;
    border-radius: 12px;
    color: #4F4F4F;
}